.about-us {
	@apply container mx-auto py-[5rem];
	@media screen(md) {
		padding: calc(var(--scale) * 10rem) 0;
	}

	&__content {
		@apply mt-12 laptop:mt-24 flex flex-col gap-12;

		@media screen(md) {
			@apply grid grid-cols-2 gap-x-24;
		}
	}

	&__text {
		&--description {
			@apply text-[1.4rem] font-unbounded text-[#444] leading-normal;

			@media screen(md) {
				@apply text-[1.6rem];
			}
		}

		&--list {
			@apply mt-6 flex flex-col gap-4;

			@media screen(md) {
				@apply mt-12;
			}

			&-item {
				@apply text-[1.4rem] font-unbounded text-[#444] flex gap-4 items-center;

				svg {
					@apply w-12 h-12 bg-primary rounded-full p-2 text-white;
				}

				@media screen(md) {
					@apply text-[1.6rem];
				}
			}
		}
	}
}

.about-us-v2 {
	position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 10;

  @media screen(laptop){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
 }
}

.about-us-v2__form {
  @media screen(laptop){
    max-width: calc(var(--scale) * 45rem);
    margin-top: calc(var(--scale) * -7.2rem);
  }
}

.about-us-v2__content {
	padding: 5rem 0;

	@media screen(laptop) {
		padding: calc(var(--scale) * 12rem) 0;
	}
}

.about-us-v2__list {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;

	@media screen(laptop) {
		margin-top: 4rem;
		gap: calc(var(--scale) * 2rem);
	}
}

.about-us-v2__item {
	font-size: 1.4rem;
	color: #444;
	display: flex;
	gap: 1rem;
	align-items: center;

	svg {
		@apply bg-primary;
		width: 3rem;
		height: 3rem;
		/* background-color: var(--primary); */
		border-radius: 50%;
		padding: 0.5rem;
		color: #fff;
	}

	@media screen(laptop) {
		font-size: 1.9rem;
	}
}
